doctype html
head
    style
        include ../style.css

table(class='mail-wrapper')

    include ../header

    tr(class='mail-content')
        td
            p= t('greetings.hello')
            p= tmf('adminConsent.generalInvitation', { userName: userName })

            if message
                p #{message}

            table(class='button-wrapper', align='center')
                tr
                    td
                        a(class='button redirect-link', href=url) #{t('buttons.adminConsentLink')}

            p

            p(class='team-joolia')= t('endings.teamJoolia')

    include ../footer
