tr(class='joolia-footer')
    td
        p: a(class='joolia-imprint', href='https://www.joolia.net/legal/imprint') #{t('footer.imprint')}

        p= 'Joolia GmbH'

        p= t('footer.address')

        p= t('footer.managingDirector')

        p= t('footer.districtCourt')
